main {
  width: 70%;
  border: 1px solid black;
  border-radius: 20px 0 20px 0;
  margin: 1em auto;
  text-align: center;
}

header {
  width: 70%;
  border: 1px solid black;
  border-radius: 20px 0 20px 0;
  margin: 1em auto;
  text-align: left;
  align-content: cover;
  object-fit: cover;
  color: white;
  image-resolution: 300dpi;
  background-image: url("https://store-images.s-microsoft.com/image/apps.23216.9007199266246289.99eca207-26e7-4c4a-b02f-3ea96d21b37b.f89edb6e-7a3c-44a8-9e93-aac220a9051f?mode=scale&q=90&h=400&w=800&background=%23288C67");
}

footer {
  width: 70%;
  border: 1px solid black;
  border-radius: 20px 0 20px 0;
  margin: 1em auto;
  color: white;
  text-align: center;
  background-image: url("https://store-images.s-microsoft.com/image/apps.23216.9007199266246289.99eca207-26e7-4c4a-b02f-3ea96d21b37b.f89edb6e-7a3c-44a8-9e93-aac220a9051f?mode=scale&q=90&h=400&w=800&background=%23288C67");
}

#instructions {
  border-bottom: 1px solid rgb(0, 195, 255); 
}

#enterguesses {
  border-bottom: 1px solid rgb(0, 195, 255);
  
}

#gameword {
  text-align: center;
}

h3 {
  border-bottom: 1px solid rgb(0, 195, 255);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#letter, #reset {
  background-color: rgb(0, 195, 255);
  border: 1px solid black;
  text-align: center;
  border-radius: 20px 0 20px 0;
}

#letter1 {
  border: 1px solid black;
  text-align: center;
  border-radius: 20px 0 20px 0;
}

body {
  font-family: 'Mandali', sans-serif;
  background-color: rgb(204, 255, 255);
}

#rules {
  text-align: left;
}

header, footer {
  background-color: rgb(0, 195, 255);
}
